{:aliases {:dev       {:extra-deps {io.github.nubank/morse {:git/sha "d99b09c"
                                                            :git/tag
                                                            "v2023.04.30.01"}
                                    org.clojure/tools.namespace {:mvn/version
                                                                 "1.4.4"}}}
           :test      {:extra-deps {com.github.seancorfield/expectations
                                    {:mvn/version "2.2.214"}

                                    lambdaisland/kaocha         {:mvn/version
                                                                 "1.91.1392"}
                                    pjstadig/humane-test-output {:mvn/version
                                                                 "0.11.0"}}
                       :extra-paths ["test"]
                       :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                  "-Dio.netty.tryReflectionSetAccessible=true"]
                       :main-opts ["-m" "kaocha.runner"]}
           :watch     {:exec-args {:watch? true}
                       :exec-fn   kaocha.runner/exec-fn}
           ;; This alias is useful if you need to develop a new hook for a
           ;; macro
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version
                                                         "LATEST"}}}}
 :deps    {}
 :paths   ["src"]}
